<table class="table table-white table-striped">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">Usuario</th>
            <th scope="col">Opciones</th>
        </tr>
    </thead>
    <tbody>

        <tr *ngFor="let category of ELEMENT_DATA">
            <th scope="row">{{category._id}}</th>
            <td>{{category.nombre}}</td>
            <td>{{category.usuario.nombre}}</td>
            <td>
                <button class="btn btn-warning mx-2" [routerLink]="['/categorias/update/',category._id]">
                    <i class="bi bi-pencil-square"></i>
                </button>
                <button class="btn btn-danger" (click)="deleteCategory(category._id)" >
                    <i class="bi bi-trash3-fill"></i>
                </button>
            </td>
        </tr>
    </tbody>

    <div class="card-footer my-3">
        <button class="btn btn-success" routerLink="/categorias/add" >Add</button>
    </div>
</table>