<mat-toolbar class="mat-elevation-z8">
    <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
    <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
    <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
  </button> Menu
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">

        <i class=" avatar mat-elevation-z8 bi bi-person-circle"></i>
        <h4 class="name">User</h4>
        <p class="designation">User</p>

        <mat-divider></mat-divider>

        <button mat-button class="menu-button" routerLink="/usuarios/list">
          <mat-icon>person</mat-icon>
          <span>Usuarios</span>
        </button>
        <button mat-button class="menu-button" routerLink="/productos/list">
          <i class="bi bi-table me-2"></i>
          <span>Productos</span>
        </button>
        <button mat-button class="menu-button" routerLink="/categorias/list">
          <i class="bi bi-card-list me-2"></i>
          <span>Categorias</span>
        </button>

        <mat-divider></mat-divider>


        <button mat-button class="menu-button" routerLink="/auth" *ngIf="authServide.logged == false">
              <i class="bi bi-door-open-fill"></i>
              <span>Login</span>
          </button>
        <button mat-button class="menu-button" routerLink="/auth" (click)="logout()" *ngIf="authServide.logged == true">
              <i class="bi bi-door-open-fill"></i>
              <span>Logout</span>
          </button>





    </mat-sidenav>
    <mat-sidenav-content>
        <div class="content mat-elevation-z8">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>